<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- change the path before deploy to: logs/ -->
	<appender name="DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/common-default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MT-ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/common-error.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="threshold" value="warn" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="DAL-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/common-dal.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MT-DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/myteay-default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>

	<appender name="MT-UTILS-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/myteay-utils.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>
	<!-- 收银台摘要日志 -->
	<appender name="MT-CASHIER-DIGEST-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/mt-phoenix-cashier-digest.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>
	<!-- 收银台日志 -->
	<appender name="MT-CASHIER-DEFAULT-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/mt-phoenix-cashier-default.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>
	<!-- 后台基础数据管理日志 -->
	<appender name="MT-MNG-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/mt-phoenix-mng.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>
	<!-- 定时任务日志 -->
	<appender name="MT-TASK-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/mt-phoenix-task.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>
	<!-- [公共Appender] 控制台STDOUT -->
	<appender name="STDOUT-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p %c{2} - %m%n" />
		</layout>
	</appender>
	<!-- [公共Appender] 控制台STDOUT -->
	<appender name="DAL-DIGEST-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="logs/phoenix/dal-digest.log" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p - %m%n" />
		</layout>
	</appender>

	<!-- [公共Appender] 控制台STDERR -->
	<appender name="STDERR-APPENDER" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<param name="target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %-5p %c{2} - %m%n" />
		</layout>

	</appender>
	<!-- ===================================================================== -->
	<!-- Loggers                                                               -->
	<!-- ===================================================================== -->
	<logger name="com.ibatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="DAL-DIGEST" additivity="false">
		<level value="INFO" />
		<appender-ref ref="DAL-DIGEST-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="PX-CASHIER-DIGEST" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-CASHIER-DIGEST-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="PX-CASHIER-DEFAULT" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-CASHIER-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="PX-MNG" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-MNG-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
	</logger>
	<logger name="PX-TASK" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-TASK-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
	</logger>
	<logger name="org.apache.ibatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="org.mybatis" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="STDOUT" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="STDERR" additivity="false">
		<level value="INFO" />
		<appender-ref ref="STDERR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>

	<logger name="com.myteay" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>

	<logger name="com.myteay.customer.common.util" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="java.io" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<logger name="java.nio" additivity="false">
		<level value="INFO" />
		<appender-ref ref="MT-DEFAULT-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="DEFAULT-APPENDER" />
		<appender-ref ref="DAL-APPENDER" />
		<appender-ref ref="MT-ERROR-APPENDER" />
		<appender-ref ref="STDOUT-APPENDER" />
		<appender-ref ref="STDERR-APPENDER" />
	</root>
</log4j:configuration>
